$fo-fa-1: 'Alumni Sans Collegiate One',
sans-serif;
$fo-fa-2:'Cormorant Garamond',
serif;
$fo-fa-3: 'Young Serif',
serif;
$fo-fa-4:'Oswald',
sans-serif;

html {


    @media screen and (max-width:576px) {
        font-size: 8px;
    }

    @media screen and (min-width:576px) {
        font-size: 10px;
    }

    @media screen and (min-width:768px) {
    }
    
    @media screen and (min-width:992px) {
        font-size: 16px;

    }

    @media screen and (min-width:1200px) {}
}
section {
    height: 46vw;

    >article {
        width: 100%;
        height: 100%;
        &:nth-of-type(1) {
            grid-area: 1/1/2/2;
            background-image: url(../img/img-1.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            >div {
                width: 40%;
                height: 30%;
                background-color: rgba(240, 248, 255, 0.758);
                border-radius:20px ;
                >h1 {
                    text-transform: capitalize;
                    height: 70%;
                    font-size: 3rem;
                }

                >button {
                    border-radius:20px ;
                    height: 30%;
                    text-transform: uppercase;
                    background-color: rgb(36, 84, 243);
                    border: 2px solid rgb(36, 84, 243);
                    transition: .4s;
                    color: aliceblue;
                    &:hover{
                        background-color: aliceblue;
                        color:rgb(36, 84, 243) ;
                    }
                }
            }
        }

        &:nth-of-type(2) {
            grid-area: 1/1/2/2;
            background-color:rgba(36, 84, 243, 0.219) ;
            >div{
                width: 40%;
                height: 30%;
                background-color: aliceblue;
                border-radius:20px ;
                >div{
                    height: 30%;
                    >i{
                        font-size: 3rem;
                        color: red;
                        transition: 0;
                        cursor: pointer;
                        &:hover{
                            transition: .4s;
                            transform: scale(1.5);
                        }
                    }
                }
                >h2{
                    text-transform: capitalize;
                    height: 70%;
                    font-size: 3rem;
                }
            }
        }
    }
}
.box1{
    visibility: hidden;
}
.box2{
    visibility: visible;
}